<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
  <h3>Aplicación Cámara con Ionic 4</h3>
  <ion-button (click)="openCam()" >Open Camera</ion-button>

  <img src="{{image}}">
 

</ion-content>
